@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-container{
    height:220px;
    width:380px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid grey;
    border-radius: 20px;
    background-color: rgb(238, 238, 238);
}
.card-in{
    height:90%;
    width:90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.card-title{
    height:30%;
    width:100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid grey;
    font-size: 18px;
    font-weight: 600;
}
.card-description{
    height:70%;
    width:100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 10px;
    font-size: 17px;
}